/* table{
    border: 2px solid black;
}
td{
    border: 1px solid black;
    text-align: center;
th{
    display: table-cell;
}


body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */







.v{
    border: 1px solid red;
}
th{
    border: 2px solid blue;
}

td{
    border: 1px solid green`;
}
















